html{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color:	#000E54;   
}

main{
    color: #ffffff;
}

a:hover{
    color: 	#FF0000
}
a:visited{
    color: #000000;
}
a {
    color: #000000;
}
footer{
    color: #ffffff;
}
nav{
    background-color: #F76900;
    padding: 10px;
    margin-bottom: 30px;
    color: #000000;
}
nav a:hover {
    background-color: #FF0000;
}
.banner{
    float: left; margin-right: 10px;
    max-width: 100%;
}
.clear{
    clear: both;
}
.quote{
    float: right;
}
#content{
    color: #ffffff;
}
#h2_index{
    color: #ffffff;
}
.cc{
    float: left;
}

.top{
    display: flex;
    color: #ffffff;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}
.name_addy{
    flex: 1;
    color: #ffffff;
}
.email{
    flex: 2;
}
.form{
    flex: 1;
    color: #ffffff;
}
.map{
    flex: 1;
}
nav{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}
@media only screen and (max-width: 600px){
    .pipe{display: none;}

}
.skip{
    background-color: #04ff00;
    padding: 5px;
    border: 1px solid #000000;
    position: absolute;
    top: 30px;
    left: 10px;
}
